numpy==1.26.4
matplotlib==3.6.2
pandas>=2.0.3
scikit-learn>=1.2.0
scipy>=1.9.3
pyvis>=0.2.1
pgmpy==0.1.25
catboost>=1.0.6
joblib>=1.1.1
networkx>=3.1
tqdm>=4.65.0
thegolem>=0.3.3
typing>=3.7.4.3
xgboost>=1.7.6
