numpy>=1.24.2
matplotlib==3.6.2
pandas==1.5.2
gmr==1.6.2
scikit-learn>=1.2.0
scipy==1.9.3
pyvis>=0.2.1
pgmpy==0.1.20
catboost>=1.0.6
joblib>=1.1.1
networkx>=3.1
tqdm>=4.65.0
thegolem>=0.3.1
typing>=3.7.4.3
