name: BAMT code coverage

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test python API
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - name: Install requirements
      run: pip install -r requirements.txt
    - name: Run tests and collect coverage
      run: pytest --cov=bamt --cov-report=xml -s tests
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v3